<h1 mat-dialog-title> Cestas da família </h1>
<div mat-dialog-content>
    <div>
        <h5>{{nome}}</h5>

        <div *ngIf="displayTabela; else displayInclusao">
            <table mat-table #tblcestas [dataSource]="cestasDaFamilia" 
                class="table table-striped table-sm mt-2">

                <ng-container matColumnDef="voluntario">
                    <th mat-header-cell *matHeaderCellDef>Voluntário</th>
                    <td mat-cell *matCellDef="let element">{{element.voluntario}}</td>
                </ng-container>

                <ng-container matColumnDef="data">
                    <th mat-header-cell *matHeaderCellDef>Data entrega</th>
                    <td mat-cell *matCellDef='let element'>{{element.data | date: 'dd/MM/yyyy' : 'UTC' }}</td>
                </ng-container>

                <ng-container matColumnDef="acao_direita">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-icon title="Incluir" (click)="incluirCesta()" style="cursor:pointer"
                            class="td-action mat-icon">
                            add
                        </mat-icon>
                    </th>
                    <td mat-cell *matCellDef="let element" class="td-action">
                        <button mat-icon-button title="Excluir" (click)="excluirCesta(element)" class="mat-button">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <ng-template #displayInclusao>
            <p>inclusao works</p>
            <button  (click)="fimInclusao()">Fim inclusao</button>
        </ng-template>
    </div>
</div>
<div mat-dialog-actions align="center">
    <button type="button" aria-label="Volta para a tabela Famílias e Cestas !!!" class="btn btn-outline-danger ml-4"
        style="cursor: pointer;" (click)="voltar()">
        Voltar
    </button>
</div>