<div class="card col-lg-5">
    <form [formGroup]="signinForm" (submit)="login()" class="m-2">
        <div class="form-group">
            <div class="form-group">
                <label for="usuario">Usuário</label>
                <input type="text" [formControl]="usuario" class="form-control form-control-danger" id="usuario"
                    aria-describedby="informe seu email" placeholder="Informe seu email" >
                <small *ngIf="signinForm.get('usuario').errors?.required" class="form-text text-danger">
                    Informe seu email
                </small>
                <small *ngIf="signinForm.get('usuario').errors?.email" class="form-text text-danger">
                    Sua identificação deverá ser um email válido
                </small>
            </div>

            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" [formControl]="password" class="form-control form-control-danger" id="password"
                    aria-describedby="informe sua senha" >
                <small *ngIf="signinForm.get('password').errors?.required" class="form-text text-danger">
                    Informe sua senha informe no mínimo 5 e nomáximo 10 letras e/ou números
                </small>
                <small *ngIf="signinForm.get('password').errors?.minlength" class="form-text text-danger">
                    Senha deve ter no mínimo 5 caracteres
                </small>
                <small *ngIf="signinForm.get('password').errors?.maxlength" class="form-text text-danger">
                    Senha deve ter no máximo 10 caracteres
                </small>
            </div>

            <div class="form-group col-lg-6">
                <button type="submit" [disabled]="signinForm.invalid" class="btn btn-outline-primary"
                    aria-describedby="Acessar o sistema">Acessar o Sac do Bem</button>
            </div>

        </div>
    </form>
</div>