<div>
    <h2>Famílias e Cestas</h2>

    <div>
        <div>
            <mat-label>Filtro </mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. nome, cpf, local de entrega ou situação"
                class="mr-3 col-lg-5">
        </div>
        <table mat-table #tblfamiliacestas [dataSource]="familiasCestas" matSort (matSortChange)="sortColumn($event)"
            class="table table-striped table-sm mt-2">

            <ng-container matColumnDef="codfamilia">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
                <td mat-cell *matCellDef="let element">{{element.codfamilia}}</td>
            </ng-container>

            <ng-container matColumnDef="cpf">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>CPF</th>
                <td mat-cell *matCellDef="let element">{{element.cpf | mask: '000.000.000-00'}}
                    <mat-icon id="falha" *ngIf="cpfDuplicado(element.cpf)" class="red-icon"
                        [title]="cpfDuplicado(element.cpf)">not_interested</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
                <td mat-cell *matCellDef='let element'>{{element.nome}}</td>
            </ng-container>

            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Data cadastro</th>
                <td mat-cell *matCellDef='let element'>{{element.data | date: 'dd/MM/yyyy' }}</td>
            </ng-container>

            <ng-container matColumnDef="cidade">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cidade ou Região</th>
                <td mat-cell *matCellDef='let element'>{{element.cidade}}</td>
            </ng-container>

            <ng-container matColumnDef="locaisEntrega">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Local de entrega</th>
                <td mat-cell *matCellDef='let element'>{{getLocalEntrega(element.localEntregaId)}}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Situação</th>
                <td mat-cell *matCellDef='let element' [title]="getTitleStatus(element)">{{getStatus(element.status)}}</td>
            </ng-container>

            <ng-container matColumnDef="qtcestas">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 3em;">Cestas</th>
                <td mat-cell *matCellDef='let element' style="text-align: right;">
                    {{element.cestasBasicasDaFamilia?.length || "0"}}</td>
            </ng-container>

            <ng-container matColumnDef="acao">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-icon mat-fab color="primary" title="Incluir família" (click)="incluirFamilia()"
                        style="cursor:pointer; outline: none;" class="td-action mat-icon icon-over-grid">
                        add_circle
                    </mat-icon>
                </th>
                <td mat-cell *matCellDef="let element" class="td-action">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                        class="mat-icon-button">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item mat-icon-button title="Atualize os dados" (click)="recuperarFamilias()"
                            style="cursor:pointer; outline: none;" class="mat-button">
                            <mat-icon>refresh</mat-icon>
                            <span> Recarregar tabela</span>
                        </button>
                        <button mat-menu-item mat-icon-button title="Detalhar família"
                            (click)="detalharFamilia(element)" class="mat-button"
                            *ngIf="![-7].includes(element.status)">
                            <mat-icon>person_search</mat-icon>
                            <span> Detalhar família</span>
                        </button>
                        <button mat-menu-item mat-icon-button title="Aprovar família" (click)="aprovarFamilia(element)"
                             class="mat-button"
                            *ngIf="[6,-7].includes(element.status)">
                            <mat-icon>contacts</mat-icon>
                            <span> Aprovar família</span>
                        </button>
                        <!-- <ng-template #cancelaEncaminhamento>
                            <button mat-menu-item mat-icon-button title="Cancela encaminhamento"
                                (click)="cancelarEncaminhamento(element)" class="mat-button">
                                <mat-icon>cancel</mat-icon>
                                <span>Cancelar Encaminhamento</span>
                            </button>
                        </ng-template> -->
                        <button mat-menu-item mat-icon-button title="Reprovar família"
                            (click)="reprovarFamilia(element)" 
                            class="mat-button"
                            [disabled]="element.cestasBasicasDaFamilia?.length > 0"
                            *ngIf="[4,6,7].includes(element.status)">
                            <mat-icon>person_add_disabled</mat-icon>
                            <span> Reprovar família</span>
                        </button>
                        <button mat-menu-item mat-icon-button title="Detalhar cestas" (click)="detalharCestas(element)"
                            class="mat-button" [disabled]="[6,4,5].includes(element.status)"
                            *ngIf="![-7].includes(element.status)">
                            <mat-icon>search</mat-icon>
                            <span> Detalhar cestas entregues</span>
                        </button>
                        <button mat-menu-item mat-icon-button title="Excluir" (click)="excluirFamilia(element)"
                            class="mat-button" [disabled]="element.cestasBasicasDaFamilia?.length > 0">
                            <mat-icon mat-fab color="warn">delete</mat-icon>
                            <span class="text-danger">Excluir família</span>
                        </button>
                    </mat-menu>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>
        <div *ngIf="waiting">
            <div class="row mt-3 justify-content-center">
                <div class="mt-2 text-center align-middle">
                    <span class="row">Aguarde o carregamento dos dados</span>
                    <div class="row spinner-border text-success" role="status">
                        <span class="sr-only">Aguarde o carregamento dos dados ...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>